<section class="bg-gray-900 text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl xl:text-6xl">{{ page.features.headline.one }} <span class="text-indigo-600">{{ page.features.headline.two }}</span></h1>
      <p class="mt-6 text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-300">{{ page.features.subheadline }}</p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      {% for card in page.features.cards %}
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-violet-800 text-red-500 mb-5 flex-shrink-0">
            {% if card.icon %}
              {% assign icon_name = card.icon %}
              {% include_relative assets/images/{{ icon_name }}.svg %}
            {% endif %}
          </div>
          <div class="flex-grow">
            <h2 class="text-white text-lg title-font font-medium mb-3">{{ card.title }}</h2>
            <p class="leading-relaxed text-base text-gray-300">{{ card.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="flex justify-center">
      <!-- Call to action (optional) -->
    </div>
  </div>
</section>